{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-113075557-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-113075557-1');
    </script>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="canonical" href="https://decoder.idealrole.com" />
    <link rel="title icon" type="image/png" href="{% static 'jobs/images/ir-favicon.png' %}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> -->
    
    <!-- Fontawesome -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js" integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+" crossorigin="anonymous"></script>
    <!-- Google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,600,700|Source+Sans+Pro&display=swap" rel="stylesheet">
    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'jobs/style.css' %}" />
    <!-- SEO -->
    <title>Find Hidden Bias In Your Job Ads | Ideal Role Decoder</title>
    <meta name="description" content="Free to use, the Decoder finds gendered words in your job ads. Removing these words will help you to avoid bias and attract more people to your jobs.">
    <!-- Open Graph -->
    <meta property="og:title" content="Ideal Role Decoder - Find Hidden Bias In Your Job Ads" />
    <meta property="og:description" content="Free to use, the Decoder finds gendered words in your job ads. Removing these words can help you to avoid bias and attract more people to your jobs." />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://decoder.idealrole.com" />
    <meta property="og:image" content="{% static 'jobs/images/Ideal-Role-Decoder-OG.png' %}" />
    <meta property="og:site_name" content="Ideal Role" />
    <meta property="og:determiner" content="the" />
    <meta property="og:locale" content="en_GB" />

    <!-- Cookie consent -->
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.css" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.js"></script>
    <script>
    window.addEventListener("load", function(){
    window.cookieconsent.initialise({
      "palette": {
        "popup": {
          "background": "#ebebeb",
          "text": "#333333"
        },
        "button": {
          "background": "transparent",
          "border": "#fc483a",
          "text": "#fc483a"
        }
      },
      "position": "bottom-left",
      "content": {
        "message": "We use cookies to ensure you get the best experience.",
        "href": "https://www.idealrole.com/privacy"
      }
    })});
    </script>
    <!-- End Cookie consent -->

  </head>
  <body>

    <!-- navbar -->
    <nav class="navbar navbar-expand-md fixed-top">
      <div class="container">
        <a href="https://www.idealrole.com" class="navbar-brand"><img src="{% static 'jobs/images/IR-logotype-blue.png' %}" alt="Ideal Role logo" width="134px"></a>
        <button type="button" class="navbar-toggler navbar-light" data-toggle="collapse" data-target="#nav"><span class="navbar-toggler-icon"></span></button>

        <div class="collapse navbar-collapse justify-content-end" id="nav">
          <ul class="navbar-nav">
            <li class="nav-item nav-text"><a class="nav-link px-3" href="https://www.idealrole.com">Home</a></li>
            <li class="nav-item nav-text"><a class="nav-link px-3" href="https://www.idealrole.com/newsletter">Newsletter</a></li>
            <li class="nav-item nav-text"><a class="nav-link px-3" href="https://www.idealrole.com/blog">Blog</a></li>
            <li class="nav-item nav-text active"><a class="nav-link px-3" href="https://decoder.idealrole.com">Decoder</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- end of navbar -->

  {% block content %}
  {% endblock %}

    <!-- footer -->
    <footer class="bg-footer">
      <div class="container-fluid">
        <div class="container">
          <div class="row">
            <div class="col-6 col-md-7">
              <a href="https://www.idealrole.com"><div><img class="footer-logo" src="{% static 'jobs/images/IR-logotype-footer.png' %}" alt="Ideal Role logo"></div></a>
              <div class="footer-one-liner">
                <p>It’s hard work getting people to apply for your jobs when they have so many options. With Ideal Role’s chatbot on your career site, you can help people understand and apply for your jobs all day, every day.</p>
              </div>
              <div class="footer-copyright">
                <p>&copy; Ideal Role Limited {% now "Y" %}</p>
              </div>
            </div>
            <div class="col-6 col-md-2 footer-links">
              <p class="footer-links-header">Resources</p>
              <ul class="list-unstyled footer-list mb-2">
                <li>
                  <a href="https://www.idealrole.com/blog" class="footer-link footer-text">Blog</a>
                </li>
                <li>
                  <a href="https://www.idealrole.com/newsletter" class="footer-link footer-text">Newsletter</a>
                </li>
                <li>
                  <a href="https://decoder.idealrole.com" class="footer-link footer-text">Decoder</a>
                </li>
              </ul>
            </div>
            <div class="col-0 col-md-2 footer-links">
              <p class="footer-links-header">Legal</p>
              <ul class="list-unstyled footer-list mb-2">
                <li>
                  <a href="https://www.idealrole.com/privacy" class="footer-link footer-text">Privacy</a>
                </li>
              </ul>
            </div>
            <div class="col-12 col-md-1 footer-media">
              <a href="https://www.linkedin.com/company/idealrole/"><div class="footer-icons"><img src="{% static 'jobs/images/linkedin-icon.png' %}" alt="LinkedIn"></div></a>
              <a href="mailto:care@idealrole.com"><div class="footer-icons mail"><img src="{% static 'jobs/images/email-icon.png' %}" alt="Email"></div></a>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- end of footer -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <!-- Bootstrap -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script> -->

    <script src="{% static 'jobs/smooth-scroll.js' %}"></script>
    <!-- Smooth scroll and Rotate plus icon -->
    <script>
      var scroll = new SmoothScroll('a[href*="#job-check"]');
      // Rotate plus icon
      $(".rotate, .plus-rotate").click(function(){
       $(".rotate").toggleClass("down")  ;
      })
    </script>

  </body>
</html>
