/* Global variables */

body {
  font-family: 'Poppins', Helvetica, Arial, sans-serif;
}

p, li, textarea, a, h4 {
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
}

/* Navbar */

.navbar {
  padding-top: 11px;
  padding-bottom: 11px;
  background-color: #ffffff;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
}

.nav-link {
  /* text-transform: uppercase; */
  font-family: 'Poppins', Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #333;
  letter-spacing: 1px;
  transition: 0.2s;
  padding-top: 10px;
  padding-bottom: 10px;
}

.nav-link:hover {
  color: #ffffff;
  background-color: #2191fb;
  border-radius: 3px;
}

.active a {
  color: #2191fb;
}

.navbar-collapse {
  background-color: #ffffff;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .navbar {
    padding-top: 8px;
    padding-bottom: 8px;
  }
}


/* Main page elements */

h1 {
  /* font-family: 'Open Sans', Helvetica, Arial, sans-serif; */
  font-weight: 700;
  color: #333;
  font-size: 42px;
  line-height: 1.4em;
}

h2 {
  /* font-family: 'Open Sans', Helvetica, Arial, sans-serif; */
  color: #333;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.4em;
  padding-bottom: 10px;
}

h3 {
    /* font-family: 'Open Sans', Helvetica, Arial, sans-serif; */
    color: #333;
    font-size: 1.2em;
    font-weight: 600;
    line-height: 1.7em;
    padding-top: 10px;
}

h4 {
  font-size: 22px;
  font-weight: 600;
}

p {
  color: #333;
  /* font-family: 'Roboto', sans-serif; */
  font-size: 20px;
  line-height: 1.6em;
  font-weight: 400;
}

.list-point {
  color: #333;
  /* font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif; */
  font-size: 20px;
  line-height: 1.6em;
  font-weight: 400;
  margin-bottom: 15px;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
}

.jumbotron {
  padding-left: 0px;
  padding-right: 0px;
}

/* SUBMIT FORM */

/* Hero Section */

.hero {
  padding-bottom: 100px;
  /* margin-bottom: 80px; */
  /* background: white url("images/angled-background-mobile.png") no-repeat left bottom;
  background-size: contain; */
}
/* 
.hero-h1 {
  padding-top: 60px;
} */

.title {
  max-width: 650px;
  padding-top: 100px;
}

.hero-h1 {
  padding-bottom: 40px;
}

/* .title-line {
  height: 9px;
  width: 50px;
  background-color: #333;
  margin-bottom: 30px;
} */

.hero-p {
  /* font-family: 'Open Sans', Helvetica, Arial, sans-serif; */
  color: #333;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.6em;
  /* max-width: 600px; */
  padding-bottom: 40px;
}

/* .hero-image {
  max-width: 280px;
  margin-left: auto;
  padding-bottom: 25px;
  float: right;
  padding-top: 30px;
} */

.hero-image {
  width: 100%;
  max-width: 340px;
  display: block;
  margin: auto;
  padding-bottom: 25px;
  padding-top: 30px;
}


/* Info Text */

.why-container {
  padding: 100px 0;
  /* background-color: rgba(255,180,167,0.5); */
  background: linear-gradient(#bad8e2, #fff);
  /* background: linear-gradient(#bad8e2, #ffb4a7); */
}

.why {
  max-width: 800px;
  padding: 40px 40px 60px 40px;
  font-size: 20px;
  /* border: 5px solid #2191fb; */
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
  border-radius: 15px;
  background-color: #fff;

}

.h2-submit {
  padding: 10px 0;
  margin-bottom: 20px;
  line-height: 1.6em;
  /* color: #2191fb; */
  font-weight: 600;
}

.more-info {
  margin-top: 25px;
}

/* .more-info {
  font-size: 20px;
} */

.submit-line {
  height: 6px;
  width: 35px;
  background-color: #2191fb;
  margin-bottom: 40px;
}

/* .plus-link {
  text-decoration: none !important;
} */

.link {
  border-bottom: 1px solid #333333;
  color: #333333;
}

.link:hover {
  text-decoration: none;
  color: #333333;
  border-bottom: 2px solid #2191fb;
}

/* .continue-link {
  color: #2191fb;
}

.continue-link:hover {
  color: #2191fb;
} */

/* Background Info */

/* .h2-submit {
  font-weight: 700;
  font-size: 24px;
  color: #333;
  padding-bottom: 10px;
} */

/* .h2-line {
  min-height: 6px;
  width: 40px;
  background-color: #2191fb;
} */

/* Plan */

.plan-container {
  padding: 100px 0;
}

.plan-h2 {
  margin-bottom: 40px;
}

.card {
  border-radius: 10px;
  border: solid 8px #ebebeb;
}

/* .card-blue {
  border: solid 8px rgba(186,216,226,0.5);
}

.card-pink {
  border: solid 8px rgba(255,180,167,0.5);
}

.card-yellow {
  border: solid 8px rgba(249,209,23,0.5);
} */

.card-img-top {
  max-width: 180px;
  margin: 0 auto;
  padding-top: 20px;
}

.card-title {
  text-align: center;
}

.card-text {
  font-size: 18px;
  line-height: 1.5em;
  padding: 10px 30px 30px 30px;
}

/* Submit form */

.add-job-ad {
  padding-bottom: 100px;
}

#job-check {
  font-size: 28px;
}

.form-control {
  font-size: 1.1em;
  border: solid 2px #2191fb;
  border-radius: 5px;
}

textarea {
  height: 250px;
  width: 100%;
  /* font-family: 'Roboto', Helvetica, Arial, sans-serif; */
}

.submit-button {
  font-family: 'Poppins', Helvetica, Arial, sans-serif;
  background: #2191fb;
  color: #fff !important;
  line-height: 20px;
  text-transform: uppercase;
  transition: all .3s ease-in-out;
  border: 3px solid #2191fb;
  border-radius: 3px;
  letter-spacing: 1px;
  font-weight: 600;
  cursor: pointer;
  text-decoration: none !important;
  font-size: 16px;
  padding: 12px 20px;
  margin-bottom: 50px;
  position: relative;
  z-index: 100;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.submit-button:hover {
  background: #fff;
  color: #333 !important;
}



/* Privacy Statement */

/* .privacy-heading {
  font-weight: 700;
  font-size: 20px;
}

.privacy-statement {
  margin-bottom: 100px;
} */


/* RESULTS */

.jumbotron {
  background-color: #f7f7f7;
  padding-top: 100px;
  padding-bottom: 40px;
}

.result-title h1 {
  margin-bottom: 10px;
  padding-top: 15px;
  /* font-weight: 700; */
}

.m-line {
  background-color: #90c8fd;
}

.f-line {
  background-color: #ffb4a7;
}

.n-line {
  background-color: #f9d117;
}

.result-blurb {
  font-size: 22px;
}

.fa-mars {
  color: #bad8e2;
}

.fa-venus {
  color: #ffb4a7;
}

.word-result {
  padding: 30px;
  border-radius: 10px;
  background-color: #fff;
}

.word-result-masc {
  border: solid 8px rgba(186,216,226,0.5);
}

.word-result-fem {
  border: solid 8px rgba(255,180,167,0.5);
}

.gender-word-title {
  font-size: 20px;
  font-weight: 600;
  font-family: 'Poppins', Helvetica, Arial, sans-serif;
  color: #888;
  background-color: #ebebeb;
  border-radius: 12px;
  padding: 10px 0;
  margin: 0 32% 20px 32%;
}

.result-buttons {
  display: flex;
  flex-direction: column;
}

/* Further info */

.h2-results {
    font-size: 32px;
    font-weight: 700;
    padding-top: 64px;
}

.results-p {
  font-size: 20px;
}

.result-info-line {
  height: 7px;
  width: 40px;
  background-color: #2191fb;
  margin-bottom: 30px;
}


/* Gendered Words Table */

.card-body {
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
}

.h2-gendered-words {
  font-family: 'Poppins', Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-weight: 600;
}

.table {
  font-size: 13px;
}

.table td {
  text-transform: capitalize;
}

.gendered-text {
  font-size: 16px;
  line-height: 1.5em;
  margin-bottom: 0;
}

.card li {
  padding-top: 10px;
}

/* .plus-button {
  border: 1px solid #efefef;
  padding: 6px;
  border-radius: 5px;
  color: #333;
  transition: 0.4s;
  font-weight: 700;
}

.plus-button:hover {
  background-color: #ebebeb;
  text-decoration: none;
  color: #333;
} */


/* Job ad */

.result-label {
  font-size: 18px;
  font-family: 'Poppins', Helvetica, Arial, sans-serif;
  font-weight: 600;
  color: #333;
  width: 150px;
  text-align: center;
  padding: 8px 0;
  margin-bottom: -2px;
  text-transform: capitalize;
  border: solid 2px #888;
  border-radius: 5px 5px 0 0;
  background-color: #ebebeb;
}

#result-area {
  height: 350px;
  color: #333;
  font-size: 18px;
  border: solid 2px #888;
  border-radius: 0 5px 5px 5px;
  padding: 10px;
}

.jobad-textarea {
  padding-left: 0px;
  padding-right: 0px;
}

.job-ad-result {
  margin: 50px 0 150px 0;
}


/* FOOTER */

.bg-footer {
  background-color: #ebebeb;
  border-top: 1px solid rgba(0,0,0,0.2);
  padding: 100px 0 140px 0;
}

.footer-logo {
  width: 150px;
  margin-bottom: 20px;
  opacity: 0.5;
  transition: opacity 0.3s ease-in-out;
}

.footer-logo:hover {
  opacity: 1;
}

.footer-one-liner {
  padding: 10px 40px 0 0;
  max-width: 520px;
}

.footer-one-liner p {
  font-size: 16px;
  line-height: 1.6em;
  color: rgba(0,0,0,0.6);
}

.footer-copyright {
  margin-top: 60px;
}

.footer-copyright p {
  font-size: 15px;
  color: rgba(0,0,0,0.4);
}

.footer-links {
  padding-top: 10px;
}

.footer-links-header {
  font-size: 16px;
  font-weight: 600;
  color: rgba(0,0,0,0.6);
  margin-bottom: 10px;
}

.footer-list li {
  padding-bottom: 10px;
}

.footer-link {
  /* font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif; */
  font-size: 16px;
  line-height: 1.5em;
  color: rgba(0,0,0,0.4);
  text-decoration: none !important;
  /* padding-bottom: 10px; */
  transition: color 0.2s ease-in-out;
}

.footer-link:hover {
  color: #000;
}

.footer-media {
  padding-top: 10px;
}

.footer-icons {
  width: 36px;
  height: 36px;
  background-color: rgba(0,0,0,0.25);
  border-radius: 50%;
  margin-bottom: 10px;
  transition: background-color 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  position: relative;
}

.footer-icons:hover {
  background-color: #000;
  transform: scale(1.1, 1.1);
}

.footer-icons img {
  width: 16px;
  display: block;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


/* MEDIA QUERIES */

/* Navbar and footer */

@media only screen and (max-width: 768px) {
  .navbar {
    padding-top: 8px;
    padding-bottom: 8px;
  }
  .footer-logo {
    width: 120px;
  }
  .footer-icons {
      padding-right: 34px;
  }
}


@media (min-width: 360px) {
  .result-buttons {
    flex-direction: row;
  }
  .second-button {
    margin-left: 20px;
    margin-top: 0;
  }
  .table {
    font-size: 15px;
  }
}


@media (min-width: 576px) {
  .hero-image {
    margin-top: 30px;
    max-width: none;
  }
  .hero {
    /* background: white url("images/angled-background.png") no-repeat left bottom;
    background-size: contain; */
    /* padding-bottom: 100px; */
    /* margin-bottom: 80px; */
  }
  .hero-p {
    margin-right: -25px;
  }
  .container {
    padding-left: 0px;
    padding-right: 0px;
  }
  .table {
    font-size: 16px;
  }
  .ml-form {
    margin-top: 110px;
  }
  h3 {
    font-size: 1.3em;
  }
}


@media (min-width: 768px) {
  /* h1 {
    font-size: 42px;
  } */
  h3 {
    font-size: 1.4em;
  }
  .title-line {
    height: 11px;
    width: 60px;
  }
  /* .hero-h1 {
    font-size: 36px;
    padding-top: 90px;
  } */
  /* .hero-p {
    margin-right: 0px;
    font-size: 16px;
  } */
  .hero-image {
    max-width: 360px;
    margin-top: 0px;
  }
  /* .submit-button {
    padding: 12px 13px;
  } */
  .h2-submit {
    font-size: 26px;
  }
  .h2-line {
    min-height: 6px;
    width: 45px;
  }
  .h2-gendered-words {
    font-size: 22px;
  }
}


@media (min-width: 992px) {
  /* h1 {
    font-size: 48px;
  } */
  /* .hero-h1 {
    padding-top: 50px;
  } */
  .title {
    margin-top: 80px;
  }
  .title-line {
    height: 13px;
    width: 70px;
  }
  /* .hero-p {
    font-size: 18px;
  } */
  .h2-submit {
    font-size: 32px;
  }
  .h2-line {
    min-height: 7px;
    width: 55px;
  }
  /* .submit-button {
    font-size: 15px;
    padding: 13px 15px;
  } */
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
  .hero-image {
    max-width: 530px;
    margin-top: -30px;
  }
  /* .hero {
    padding-bottom: 190px;
    margin-bottom: 100px;
  } */
  .h2-submit {
    font-size: 30px;
  }
  .h2-line {
    min-height: 9px;
    width: 65px;
  }
  /* p {
    font-size: 19px;
  } */
  .list-point {
    font-size: 19px;
  }
  .h2-gendered-words {
    font-size: 26px;
  }
}
