{% extends 'base.html' %}
{% load static %}

{% block content %}
    <!-- hero-section -->
    <br>
    <div class="hero pt-3">
      <div class="container">
        <div class="row">
          <div class="col-12 col-sm-6">
            <div class="title mx-auto">
              <h1 class="hero-h1">Find gendered words in your job ad - for&nbsp;free</h1>
              <p class="hero-p">Words in your job ad can put people off applying.  Use our free decoder to find and replace gendered words so you get more&nbsp;applications</p>
              <a class="submit-button mt-4" href="#job-check">Check Your Job Ad</a>
            </div>
          </div>
          <div class="col-12 col-sm-6">
            <img class="hero-image" src="{% static 'jobs/images/Ideal-Role-typewriter-hero.png' %}" alt="Highlight gender coded words">
          </div>
        </div>
      </div>
    </div>

    <!-- Why gendered words are important -->
    <div class="why-container">
      <div class="container">
        <div class="row justify-content-center">
          <div class="why">
            <h2 class="h2-submit text-center">Why gendered words are important</h2>
            <p>Research has found that job ads or job descriptions with gendered words can reduce the number of people applying.</p>
            <a class="link continue-link" data-toggle="collapse" href="#WhyImportant" role="button" aria-expaneded="false" aria-controls="collapseExample">Continue reading...</a>
            <div class="collapse more-info" id="WhyImportant">
              <p>Words impact us.  Sometimes directly, like a question or command.  Other times, without us being aware of how they change our behaviour.</p>
              <p>And some words affect some people, but not others.  Gendered words impact us all differently - often in subtle ways that we are unaware of.</p>
              <p>In their paper, ‘Evidence That Gendered Wording in Job Adverts Exists and Sustains Gender Inequality’, researchers Gaucher, Friesen and Kay showed that:</p>
              <ul>
                  <li class="list-point">Fewer women apply when there are more masculine words in a job ad</li>
                  <li class="list-point">Ads for traditionally male jobs tend to have more masculine words</li>
                  <li class="list-point">Women are attracted to job ads with more feminine wording - but slightly fewer men will apply</li>
                  <li class="list-point">Gendered words in job ads can lead to unintended bias</li>
              </ul>
              <p>Learn more about the <a class="link" href="https://www.idealrole.com/blog/gender-job-ads" target="_blank">study of gendered words in job ads</a>.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- How the decoder works -->

    <!-- End: How the decoder works -->

    <!-- Info on what it is and how it works -->
    <!-- <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-8">
          <h2 class="h2-submit pb-0">Why gendered words are important</h2>
          <div class="h2-line mb-5"></div>
          <p>Words impact us.  Sometimes directly, like a question or command.  Other times, without us being aware of how they change our behaviour.</p>
          <p>And some words affect some people, but not others.  Gendered words impact men and women differently.  Often in subtle ways that we are unaware of.</p>
          <p>In their paper, ‘Evidence That Gendered Wording in Job Adverts Exists and Sustains Gender Inequality’, researchers Gaucher, Friesen and Kay showed that:</p>
          <ul>
              <li class="list-point">Fewer women apply when there are more masculine words in a job ad</li>
              <li class="list-point">Ads for traditionally male jobs tend to have more masculine words</li>
              <li class="list-point">Women are attracted to job ads with more feminine wording - but slightly fewer men will apply</li>
              <li class="list-point">Gendered words in job ads can lead to unintended bias</li>
          </ul>
          <p>Learn more about the <a class="link" href="https://www.idealrole.com/blog/gender-job-ads" target="_blank">study of gendered words in job ads</a>.</p>


        <h3 id="job-check" class="mt-5 mb-2">Check your job ad for gendered words</h3>
        <div class="submit-line"></div>

        </div>
      </div>
    </div> -->




    <!-- submit text -->
  <div class="container">
    <div class="container text-danger">
      {% if error %}
      {{ error }}
      <br>
      <br>
      {% endif %}
    </div>

    <div class="container add-job-ad">
      <div class="row justify-content-center">
        <div class="col-12 col-md-11 col-lg-10">
          <h3 id="job-check" class="mt-5 mb-3">Check your job ad:</h3>
        </div>
      </div>
      <form method="POST" action="{% url 'submit' %}">
        <div class="row justify-content-center">
          <div class="col-12 col-md-11 col-lg-10 jobad-textarea">
            <div class="job-form">
              {% csrf_token %}

              <textarea class="form-control" name="job_text" id="job_text" placeholder="Paste your job ad here" required></textarea>

              <div class="col mt-3 submission">
                <input class="submit-button mt-3" type="submit" value="Decode">
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <!-- end of submit text -->


  <!-- Privacy statement -->
  <!-- <div class="container privacy-statement">
    <div class="row justify-content-center">
      <div class="col-12 col-md-11 col-lg-8">
        <p class="privacy-heading">A note on privacy</p>
        <p>We want to help you reduce bias in your job ads.  That's why the decoder is free and we'll keep your information private.</p>
        <p>You can see our <a class="privacy link" href="https://www.idealrole.com/privacy" target="_blank">Privacy Policy</a> for more details.</p>
      </div>
    </div>
  </div> -->


{% endblock %}
